
@{
    ViewBag.Title = "Index";
}

<h2>Administración de Proveedores</h2>
<input type="button" class="btn-success" value="Agregar" data-toggle="modal" data-target="#exampleModal2" />

<input type="button" class="btn-info" id="btnListar" value="Listar" />
<br />
<br />
<table id="misProveedores" class="table table-bordered"></table>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Actualizar Proveedor</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <table>
                    <tr>
                        <td>Codigo</td>
                        <td><input type="text" id="txtCodigo" /></td>
                    </tr>

                    <tr>
                        <td>RUC</td>
                        <td><input type="text" maxlength="12" id="txtRUC" /></td>
                    </tr>

                    <tr>
                        <td>Nombre</td>
                        <td><input type="text" id="txtNombre" /></td>
                    </tr>

                    <tr>
                        <td>Dirección</td>
                        <td><input type="text" id="txtDireccion" /></td>
                    </tr>

                    <tr>
                        <td>Ciudad</td>
                        <td><input type="text" id="txtCiudad" /></td>
                    </tr>

                    <tr>
                        <td>Correo</td>
                        <td><input type="text" id="txtCorreo" /></td>
                    </tr>

                    <tr>
                        <td>Teléfono</td>
                        <td><input type="text" id="txtTelefono" /></td>
                    </tr>



                </table>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="btnGuardarDeModal">Guardar</button>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar Proveedor</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <table>


                    <tr>
                        <td>RUC</td>
                        <td><input type="text" maxlength="12" id="txtRUC2" /></td>
                    </tr>

                    <tr>
                        <td>Nombre</td>
                        <td><input type="text" id="txtNombre2" /></td>
                    </tr>

                    <tr>
                        <td>Dirección</td>
                        <td><input type="text" id="txtDireccion2" /></td>
                    </tr>

                    <tr>
                        <td>Ciudad</td>
                        <td><input type="text" id="txtCiudad2" /></td>
                    </tr>

                    <tr>
                        <td>Correo</td>
                        <td><input type="text" id="txtCorreo2" /></td>
                    </tr>

                    <tr>
                        <td>Teléfono</td>
                        <td><input type="text" id="txtTelefono2" /></td>
                    </tr>



                </table>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="btnGuardarDeModal2">Guardar</button>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/bibliotecaProveedores.js"></script>

