
@{
    ViewBag.Title = "Index";
}


<link href="~/Content/catalogo.css" rel="stylesheet" />

<div class="container">

    <div class="row">

        <div class="col-lg-3 contenedor">

            <h1 class="my-4">Catalogo</h1>
            <div class="list-group">
                <label>Seleccione la categoría de productos:</label>
                <select id="cmbCategoria" class="form-control"></select>
                <input type="button" class="btn-primary form-control" id="btnBuscar" value="Buscar" />
            </div>

        </div>

        <div class="container">
            <div id="productos" class="row">          
                
            </div>
        </div>


    </div>
</div>

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/bibliotecaCatalogo2.js"></script>